extends ../layouts/layout.jade

block head
  //- Stripe
  script(src="https://js.stripe.com/v2/")

  //- Angular
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js")

  //- Angular Payments
  //- script(src="bower_components/angular-payments/lib/angular-payments.js")

  script(src="app.js")

block body
  section.content(ng-controller="CheckoutController as checkoutCtrl")
    h1 Checkout
    form(name="checkoutForm" ng-submit!="checkoutForm.$valid && checkoutCtrl.submitCheckout(product)" novalidate stripe-form="stripeCallback")
      .field
        label(for="email") Email Address
        input#email(ng-model="user.email" required type="email" name="email")
        small.error Enter a valid email.

        p checkoutForm is {{checkoutForm.$valid}}
      //- header
      //-   h3 Shipping Information
      //-   p Where should we ship this?
      //- .field
      //-   label(for="") Name
      //-   input(type="text")
      //- .field
      //-   label(for="") Address
      //-   input(type="text" required)
      //- .field
      //-   label(for="") Postal Code
      //-   input(type="text")
      //- .field
      //-   label(for="") City
      //-   input(type="text")
      //- .field
      //-   label(for="") State
      //-   input(type="text")
      //- .field
      //-   label(for="") Country
      //-   select#country(name="")
      //-     option(value="Canada") Canada

      header
        h3 Billing Information

      .field
        label(for="billing-number") Credit Card
        input#billing-number(type="number" required)
      .field
        label(for="billing-name") Name on Card
        input#billing-name(type="text" required)
      .field
        label(for="billing-expiry") Expiration Date
        input#billing-expiry(type="number" required)
      .field
        label(for="billing-cvc") CVC
        input#billing-cvc(type="number" required)

      .field
      input(type="submit" value="Checkout")


  aside
    h3 Checkout summary
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore temporibus iusto modi, excepturi error! Repellat hic nemo labore, voluptates saepe placeat ut esse ipsa recusandae, harum aliquid modi iusto accusantium.